~*
credentials.txt
XML_reading.py
Python Scripts/Animal Planet Scheduling/recipients.txt
Gas Balancing/SouthCentral Balance_EV.xlsx
Gas Balancing/Aggregated_SC_EV.xlsx
Gas Balancing/Aggregated_SC_EV_2.xlsx
Data/Hourly Generation Data/ERCOT_LMP_Gas_HR.csv
Data/Hourly Generation Data/Hourly_Central_Gen.xlsx
Data/Hourly Generation Data/ERCOT_LMP_HR_Cleaned.xlsx
__pycache__/
.idea/
.vscode/
PS 1/
Exposure Calculation/Outputs