~*
credentials.txt
XML_reading.py
Python Scripts/Animal Planet Scheduling/recipients.txt
Gas Balancing/SouthCentral Balance_EV.xlsx
Gas Balancing/Aggregated_SC_EV.xlsx
Gas Balancing/Aggregated_SC_EV_2.xlsx
